<link rel="preconnect" href="https://fonts.googleapis.com">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Michroma&display=swap');
</style>

<div style="max-width: 800px; border: 2px solid #29abe0; border-radius: 12px; padding: 25px; font-family: 'Segoe UI', Arial, sans-serif; background: #0b0b0e; box-shadow: 0 0 15px #29abe0, inset 0 0 10px rgba(41, 171, 224, 0.3); margin: 20px auto; color: #e0e0e0;">

    <div style="text-align: center; margin-bottom: 20px;">
        <h1 style="margin: 0; font-size: 1.7rem; color: #ffffff; text-shadow: 0 0 10px #29abe0, 0 0 20px #29abe0; letter-spacing: 1px;">Now Available!</h1>

         <h2 style="margin: 10px 0 5px 0; font-size: 3rem; color: #ffffff; letter-spacing: 0.5px; font-family: 'Bruno Ace SC', sans-serif; font-weight: 800; font-style: italic;">Temporal Transit Of A Superluminal Sea</h2>
        <h3 style="margin: 10px 0; font-size: 1.7rem; color: #29abe0; font-weight: normal; ; text-align: justify; hyphens: auto; text-justify: inter-word;">Buy the digital maxi-single as high-resolution lossless FLAC download</h3>
        <p style="font-size: 1.3rem; color: #edff78; font-style: italic; text-align: justify; hyphens: auto; text-justify: inter-word;">10 minute full-track EP side! 24/48khz MQ Stereo (Stereo compatible/enhanced for matrixed surround sound)</p>
    </div>

    <div style="margin-bottom: 20px;">
        <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" 
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/2308797023&color=%2329abe0&auto_play=false&hide_related=false&show_comments=false&show_user=true&show_reposts=false&show_teaser=true&visual=true"
            style="border-radius: 8px; border: none;">
        </iframe>
    </div>

    <div style="margin-bottom: 25px;">
       
        <p style="font-size: 1.3rem; color: #29abe0; line-height: 1.6; margin: 0; text-align: justify; hyphens: auto; text-justify: inter-word;">
           <strong>Epic Electronic Space Music! A voyage to the very edge of space...  --And back! </strong>
        </p>
        <br>
        <p style="font-size: 1.3rem;  line-height: 1.6; margin: 0; text-align: justify; hyphens: auto; text-justify: inter-word; color: #edff78;">
           Deliberately constructed to function as effective ambient, this 10 minute space voyage rewards active listening and may inspire moments of deep reverie.
        </p>
    </div>

    <a href="https://ko-fi.com/s/90b5933e2d" 
       onclick="window.open('https://ko-fi.com/s/90b5933e2d', 'newwindow', 'width=500,height=700'); return false;"
       style="display: block; background-color: #29abe0; color: #ffffff; text-align: center; padding: 16px; text-decoration: none; font-weight: bold; border-radius: 30px; font-size: 1.2rem; cursor: pointer; box-shadow: 0 0 15px #29abe0, inset 0 0 10px rgba(224, 41, 172, 0.4);  transition: 0.3s;">
        BUY NOW!
    </a>
</div>
